.container {
    display: flex;
    height: 100vh;
    border: 10px solid black;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;




    /* task1 */
    /* flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start; */

    /* task2 */
    /* flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; */

    /* task3 */
    /* flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start; */
}

.item,
.item-container {
    /* width: 60px;
    height: 60px; */
    padding: 20px;
    border: 5px solid red;
    background-color: darkgreen;
    color: white;
    font-size: 40px;
    text-align: center;
}

.item-container {
    display: flex;
    height: 300px;
    border: 5px solid blue;
    background-color: lime;
    align-items: center;

}