* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main {
    width: 500px;
    height: 300vh;
    margin: 0 auto;
    background-color: aquamarine;
}

section {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: coral;
}

.box {
    --size: 80px;
    padding: 10px;
    border: 2px solid black;
    width: var(--size);
    height: var(--size);
}

.block-pos-fixed {
    width: 50px;
    height: 50px;
    background-color: green;
    position: fixed;
}

/* Блок в верхнем левом углу */
.top-left {
    top: 0;
    left: 0;
}

/* Блок в правом нижнем углу */
.bottom-right {
    bottom: 0;
    right: 0;
}

/* Блок в центре */
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}