* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main {
    width: 500px;
    height: 300vh;
    margin: 0 auto;
    background-color: aquamarine;
}

section {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    background-color: coral;
}

.box {
    --size: 80px;
    padding: 10px;
    border: 2px solid black;
    width: var(--size);
    height: var(--size);
}

.pos-static {
    position: static;
}

.pos-relative {
    position: relative;
    background-color: yellow;
    top: -10px;
    left: var(--size);
}

.pos-relative-container,
.pos-relative-container-2 {
    position: relative;
}

.pos-absolute {
    position: absolute;
    background-color: blue;
}

.pos-fixed {
    /* width: initial;
    height: initial; */
    position: fixed;
    background-color: limegreen;
    /* left: 50%;
    transform: translateX(-50%); */
    left: 0;
    right: 0;
    top: 0;
    /* bottom: 0; */
}

.pos-sticky {
    position: sticky;
    top: 40px;
    left: 30%;
}

.pos-1 {
    bottom: -100px;
    right: 0;
    z-index: 10;
}

.pos-2 {
    bottom: -80px;
    right: 10px;
    z-index: 11;
}

.pos-3 {
    right: 30px;
    bottom: -120px;
}