* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-haeding {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}



.text {
    margin: 20px;
    position: relative;
}

/* создаёт псевдоэлемент,
который является первым потомком выбранного элемента. */
.text::before {
    background-color: limegreen;
    /* font-size: 30px; */
    display: inline-block;
    position: absolute;
    top: 5px;
}

.text::before {
    content: open-quote;
    right: 100%;
}

/* создаёт псевдоэлемент,
который является последним потомком выбранного элемента. */
.text::after {
    background-color: limegreen;
    /* font-size: 30px; */
    position: absolute;
    display: inline-block;
    top: 5px;
}

.text::after {
    content: close-quote;
    left: 100%;
}

.absolute {
    /* position: absolute; */
}