/* 
selector:pseudoclass
*/

:root {
    font-size: 24px;
}

body :not(.simple, span, ) {
    font-style: italic;
    font-weight: bold;
}

.btn {
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn:hover {
    color: blue;
    background-color: white;
}

.btn:active {
    color: red;
}

.btn:focus {
    border-color: red;
    outline: none;
}

.interactive-section:focus {
    border-color: aqua;
}

.interactive-section p:first-child {
    color: red;
}

/* .interactive-section p:nth-child(2n) {
color: greenyellow;
} */
/* .interactive-section p:nth-child(2n + 1) {
    color: tomato;
} */

.interactive-section p:nth-child(even) {
    color: tomato;
}

.interactive-section p:nth-child(odd) {
    color: rgb(99, 255, 71);
}

.interactive-section p:last-child {
    color: purple;
}